body {
  background-color: cornflowerblue;
  text-align: center;
  padding: 1em;
}

h2 {
  background-color: aliceblue;
  border: 2px solid black;
  border-radius: 4px;
  text-align: center;
}

#products-index img {
  width: 300px;
}

html {
  scroll-behavior: smooth;
}

input[type=text] {
  text-align: center;
  background-color: rgb(185, 181, 181);
  border: 2px solid black;
  border-radius: 4px;
}